snippet context
context "$1" do
	${0:${VISUAL:# assertions}}
end
endsnippet

snippet try
try:
	${1:${VISUAL:# try code}}
$0
endsnippet

snippet defm
def ${1:faction_name}( self$2 ):
	${0:pass}
endsnippet
